@font-face {
    font-family: CakoItalic;
    src: url(Fonts/Cako-BlackItalic.ttf);
}
@font-face {
    font-family: CastaThin;
    src: url(Fonts/Casta-Thin.otf);
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(46, 46, 46);
    overflow: hidden;
}


header {
    padding-top: 2%;
    background-color: rgb(43, 42, 42);
}
a{
    text-decoration: none;
    color: rgb(252, 241, 224);
}
.navbar a {
    margin-left: 8%;
    font-family: CastaThin;
    font-size: 25px;
}
.navbar {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    z-index: 1;
}
#titrescroll {
    transform: rotate(90deg); 
    margin-left: 33%; 
    margin-top: -23%;

}



h1 {
    font-family: CakoItalic;
    color: rgb(252, 241, 224);
    font-size: 130px;
    letter-spacing: 20px;
}

#indexvid {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -1000;
    border-left: 3px solid rgb(252, 241, 224);
  }

.indexcase {
    background-color: rgb(43, 43, 43);
    height: 600px;
    width: 50%;
    margin-left: 5%;
    margin-top: 2%;
}

hr{
    border-top: 2px solid rgb(252, 241, 224);
    transform: rotate(90deg);
    margin-left: 26%;
    margin-top: -10%;

}

/* footer {
    background-color: rgb(206, 52, 52);
    padding-top: 1%;
} */