
/* FONTS */

@font-face {
    font-family: CakoItalic;
    src: url(Fonts/Cako-BlackItalic.ttf);
}
@font-face {
    font-family: CastaThin;
    src: url(Fonts/Casta-Thin.otf);
}
@font-face {
    font-family: Harmondsemibold;
    src: url(Fonts/Harmond-SemiBoldCondensed.otf);
}
@font-face {
    font-family: Wagonlight;
    src: url(Fonts/Wagon-ExtraLight.otf);
}
@font-face {
    font-family: Wagonbold;
    src: url(Fonts/Wagon-Bold.otf);
}
@font-face {
    font-family: Faktum;
    src: url(Fonts/faktum.otf);
}


/* GENERAL */

body {
    margin: 0;
    padding: 0;
    background-color: rgb(46, 46, 46);
    overflow: hidden;
}

header {
    padding-top: 2%;
    background-color: rgb(43, 42, 42);
}

a{
    text-decoration: none;
    color: rgb(252, 241, 224);
}
.navbar a {
    margin-left: 8%;
    font-family: CastaThin;
    font-size: 25px;
}
.navbar {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}
#titrescroll {
    transform: rotate(90deg); 
    margin-left: 33%; 
    margin-top: -23%;

}
.boutondeco {
    position: absolute;
    top: 7vh;
    left: 80vw;
    border: none;
    color: rgb(252, 241, 224);
    font-family: CastaThin;
    background-color: rgb(43, 42, 42);
    font-size: 25px;
    cursor: pointer;
}



/* INDEX */

h1 {
    font-family: CakoItalic;
    color: rgb(252, 241, 224);
    font-size: 130px;
    letter-spacing: 20px;
}

#indexvid {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -1000;
    border-left: 3px solid rgb(252, 241, 224);
  }


 .indexcase {
    background-color: rgb(43, 43, 43);
    height: 600px;
    width: 50%;
    margin-left: 5%;
    margin-top: 2%;
    position: relative;
}
#imgnb {
    transform: rotate(-10deg);
}
#img1 {
    transform: rotate(5deg);
    bottom:90%;
    right: 30%;
}
#img2 {
    transform: rotate(-7deg);
    position: absolute;
    right: 5%;
    bottom:50%;
}
#collage{
    position: absolute;
    top:20%;
}
/*.textindex {
    position: absolute;
    bottom: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    background: rgb(43, 43, 43);
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
}
.indexcase:hover div{
    visibility: visible;
    opacity: 0.7; 
} */
h3 {
    font-family: Wagonlight;
    font-size: 2vw;
    color: rgb(218, 200, 174);
    position: absolute;
    left: 60%;
    bottom: 30%;

}
#nomsite {
    color: rgb(250, 214, 164);
    font-family: Harmondsemibold;
    font-size: 7vw;    
    position: absolute;
    bottom: 1%;
    left: 20%;
}

hr{
    border-top: 2px solid rgb(252, 241, 224);
    transform: rotate(90deg);
    margin-left: 26%;
    margin-top: -10%;

}



/* INSCRIPTION */

.titretion {
    color: rgb(250, 214, 164);
    font-family: Harmondsemibold;
    font-size: 7vw;    
    position: absolute;
    bottom: 65vh;
    left: 60vw;
}

.formsite {
    display: flex;
    flex-direction: row;
}

#imagesinscription{
    margin-left: 7%;
    margin-top: 5%;
}

#imginscription {
    position: absolute;
    left: 15%;
    bottom: 10%;
    transform: rotate(5deg);
}

.cadreform {
    background-color: rgb(43, 43, 43);
    width: 50vw;
    height: 60vh;
    margin-top: 8%;
    margin-left: 30%;
}
label {
    font-family: CastaThin;
    font-size: 1.5em;
    color: blanchedalmond;
    display: flex;
    flex-direction: column;
    margin-top: 2vh;

}
input{
    border: none;
    background-color: rgb(43, 43, 43);
    border-bottom: 1px solid;
    margin-top: 2vh;
    color: burlywood;
    font-family: Faktum;

}
input:focus{
    outline-offset: 0px;
    outline: none;
}
.centerform {
padding-top: 7%;
margin-left: 35%;
}

button {
    border: none;
    font-family: Wagonbold;
    background-color: rgb(43, 43, 43);
    color: blanchedalmond;
    font-size: 20px;
    margin-left: 9%;
    cursor: pointer;
}
.boutons {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    justify-content: center;
    margin-right: 10%;
}
#comptetxt {
    position: absolute;
    left: 70vw;
    top: 57vh;
    margin-top: 2%;
    font-family: Faktum;
    color: rgb(104, 96, 84);
}

.error {
    position: absolute;
    right: 25vw;
    top: 31vh;
}
.error1 {
    position: absolute;
    right: 25vw;
    top: 40vh;
}
.msgerror {
    position: absolute;
    right: 9vw;
    top: 33vh;
}



/* CONNEXION */

.formbg {
    background-color: rgb(43, 43, 43);
    width: 40vw;
    height: 60vh;
    margin-top: 4%;
    margin-left: 10vw;
}

.connectimg {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    margin-left: 6vw;
}
.imgconnexion {
    margin-top: 3vh;
}
.imgdroite {
    position: absolute;
    left: 80vw;
    top: 35vh;
}

.boutons1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -4vw;
    margin-top: 10vh;
}

.centertxt {
    margin-left: 12vw;
    margin-top: 15vh;
}

.error2 {
    display: flex;
    flex-direction: column;
    font-family: Faktum;
}

#comptetxt1 {
    position: absolute;
    left: 52vw;
    top: 55vh;
    font-family: Faktum;
}



/* Livre d'or */

#prlelivredor {
    overflow: scroll;
    scroll-behavior: smooth;

}
/* pour que le scroll ne se voit pas */
::-webkit-scrollbar{
    display: none;
    scroll-behavior: scroll;
}

#livreor {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
  .marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 95px;
    overflow-x: hidden;
    border-bottom: 2px solid blanchedalmond;
    border-top: 2px solid blanchedalmond;
    overflow: hidden;
    color: blanchedalmond;
    font-size: 80px;
    font-family: Harmondsemibold;
  }
  
  .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 32s linear infinite;
  }
  
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }

.bubble {
    position: relative;
    font-family: Faktum;
    font-size: 18px;
    line-height: 24px;
    width: 200px;
    background: rgb(233, 222, 204);
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    color: #000;
  }
  
  .bubble-bottom-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 20px solid rgb(233, 222, 204);
    border-right: 5px solid transparent;
    border-top: 5px solid rgb(233, 222, 204);
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -15px;
  }

.bulletxt {
    margin-top: 5vh;
}
.bulletxt {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes slideInUp {
    0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    }
    @keyframes slideInUp {
    0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    } 

.author {
    font-family: CastaThin;
    color: rgb(201, 182, 154);
}

/* footer {
    background-color: rgb(206, 52, 52);
    padding-top: 1%;

    saturate(896%)
    sepia(100%)
} */